<section class='horse-detail'>
	<header>
		<h1>Cocomone</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('hepo.png') %>
				<figcaption>Cocomone</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('IMG_1903.png') %>
				<%= image_tag('IMG_1903.png') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Cocomone</br></u>
				<br></br>
				<br>Year of birth: </br>
				<br>Sex: Stallion</br>
				<br>Country of birth: Germany</br>
				<br>Breed: Oldenburg</br>
				<br>Breeder: </br>
				<br>Rider: </br>
				<br>Location: </br>
				<br>Sire: Feiner Stern</br>
				<br>Dam: Katja</br>
				<br>Sire of dam: Bonjour</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> Thisare competing at the moment at differnet level.
			</footer>
		</div>
		<iframe width="560" height="315" src="//www.youtube.com/embed/X8CwZt2bbH0" frameborder="0" allowfullscreen></iframe>
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>