<section class='horse-detail'>
	<header>
		<h1>Contendo Da Carma</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('contendodacarma.jpg') %>
				<figcaption>Contendo Da Carma</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('contendodacarma2.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Contendo Da Carma</br></u>
				<br></br>
				<br>Year of birth: 2004</br>
				<br>Sex: Stallion</br>
				<br>Country of birth: Sweden</br>
				<br>Breed: SWB</br>
				<br>Breeder: Maria Olsson</br>
				<br>Rider: Sebastian Numminen</br>
				<br>Location: Sweden</br>
				<br>Sire: Don Capitol</br>
				<br>Dam: Caramell</br>
				<br>Sire of dam: Stanford</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> 
			</footer>
		</div>
		<iframe width="560" height="315" src="//www.youtube.com/embed/Z42YkpUUaO4" frameborder="0" allowfullscreen></iframe>
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>