<section class='horse-detail'>
	<header>
		<h1>Constantinos</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('konsta.png') %>
				<figcaption>Constantinos</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('konsta2.jpg') %>
				<%= image_tag('konsta.png') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Constantinos</br></u>
				<br></br>
				<br>Year of birth: 2005</br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Finland</br>
				<br>Breed: FWB</br>
				<br>Breeder: </br>
				<br>Rider: </br>
				<br>Location: </br>
				<br>Sire: Fair Play</br>
				<br>Dam: Doris</br>
				<br>Sire of dam: Matador</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> Konsta, konsta
			</footer>
		</div>
		<iframe width="560" height="315" src="//www.youtube.com/embed/X8CwZt2bbH0" frameborder="0" allowfullscreen></iframe>
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>
