<section class='horse-detail'>
	<header>
		<h1>Coyboy</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('coyboy.jpg') %>
				<figcaption>Coyboy</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('coyboy2.jpg') %>
				<%= image_tag('coyboy3.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Coyboy</br></u>
				<br></br>
				<br>Year of birth: 2012</br>
				<br>Sex: Stallion</br>
				<br>Country of birth: Finland</br>
				<br>Breed: FWB</br>
				<br>Breeder: Leena Nyman</br>
				<br>Rider: </br>
				<br>Location: Sweden</br>
				<br>Sire: Catcall</br>
				<br>Dam: Chiara II</br>
				<br>Sire of dam: Competent</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> Coyboy is taking his first steps as a Show jumpper at the moment in Sweden. He is staying at Maria Olessens's farm
			<a href="http://www.haglingenygard.se "target="_blank">www.haglingenygard.se </a>
			</footer>
		</div>
		</div>
		
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>