<section class='horse-detail'>
	<header>
		<h1>Diarados Love</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('diarados2.jpg') %>
				<figcaption>Diarados Love</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('diarados.jpg') %>
				<%= image_tag('diarados2.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Diarados Love</br></u>
				<br></br>
				<br>Year of birth: 2010</br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Sweden</br>
				<br>Breed: SWB</br>
				<br>Breeder: </br>
				<br>Rider: </br>
				<br>Location: Sweden</br>
				<br>Sire: Diarado</br>
				<br>Dam: Carisma</br>
				<br>Sire of dam: Cardento</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> 
			</footer>
		</div>
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>