<section class='horse-detail'>
	<header>
		<h1>Dunhill</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('duino2.png') %>
				<figcaption>Dunhill</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('duino3.png') %>
				<%= image_tag('duino.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Dunhill</br></u>
				<br></br>
				<br>Year of birth: 2003</br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Germany</br>
				<br>Breed: Oldenburger</br>
				<br>Breeder: </br>
				<br>Rider: Janne Bergh</br>
				<br>Location: Finland</br>
				<br>Sire: Donnerschwee</br>
				<br>Dam: Anjessa</br>
				<br>Sire of dam: Sion</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> Dunhill is competing this season with janne Bergh
			</footer>
		</div>
		<iframe width="560" height="315" src="//www.youtube.com/embed/X8CwZt2bbH0" frameborder="0" allowfullscreen></iframe>
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>