
<section class='horse-detail'>
	<header>
		<h1>Fair Play</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('reiska2.png') %>
				<figcaption>Fair Play</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('reiska3.png') %>
				<%= image_tag('reiska.png') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Fair Play</br></u>
				<br></br>
				<br>Year of birth: 1987 </br>
				<br>Sex: Stallion</br>
				<br>Country of birth: Germany</br>
				<br>Breed: Oldenburger</br>
				<br>Colour: Black</br>
				<br>Sire: Feiner Stern</br>
				<br>Dam: Katja</br>
				<br>Sire of dam: Bonjour</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> This Stallion made a big carrier as a Dressage horse and an Breeding Stallion. As he is already 27 years old he has been retired a long time. Many Fair Play's offsprings are competing at the moment at differnet level.
			</footer>
		</div>
		
	</section>
	<FORM><button type="button" class="btn btn-default VALUE="Back" onClick="history.go(-1);return true;">Back</button>"
	</FORM>
</section>