
	<section id="fairplay">
	<header>
		<h1>Fair Play</h1>
	</header>
	<div class='row'>
	<section class='col-md-6'>
		<header>
			<h2>Stallion</h2>
		</header>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('heveonen1') %>
			<figcaption>Heveonen1</figcaption>
		</figure>
			<%= link_to image_tag("IMG_1905.JPG"), horse_path('heveonen1') %>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('heveonen1') %>
		<p> all the facts about the horse comes here</p>
		<p> description about the horse comes hers</p>

		<video width="320" height="240" controls>
  		<source src="movie.mp4" type="video/mp4">
  		<source src="movie.ogg" type="video/ogg">
  		Your browser does not support the video tag.
		</video>

		
	</section>
	<section class='col-md-6'>