
<section class='horse-detail'>
	<header>
		<h1>Fair Play</h1>
	</header>
	<div class='row'>
		<section class='col-md-6'>
			<header>
				<h2></h2>
			</header>
			<figure>
				<%= image_tag('polle.jpg') %>
				<figcaption>Fair Play</figcaption>
			</figure>
			<aside>
				<%= image_tag('IMG_1903.jpg') %>
				<%= image_tag('IMG_1903.jpg') %>
			</aside>
			<p> all the facts about the horse comes here.
				<br>born;.........</br>
				<br>stallion:.........</br>
				<br>mare:........</br>
				<br>plah:.......</br>
				<br>plah:...........</br>
				<br>plah:.......</br>
				<br>plah:.......</br>
			</p>
			<body> description about the horse comes here........................................................................................................................................................
			</body>

			<iframe width="560" height="315" src="//www.youtube.com/embed/X8CwZt2bbH0" frameborder="0" allowfullscreen></iframe>
		</section>
	</div>
</section>