<section class='horse-detail'>
	<header>
		<h1>Faustino</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('faustino.jpg') %>
				<figcaption>Faustino</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('faustino2.jpg') %>
				<%= image_tag('faustino4.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Faustino</br></u>
				<br></br>
				<br>Year of birth: 2003</br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Danmark</br>
				<br>Breed: DWB</br>
				<br>Breeder: Katja Kuistila</br>
				<br>Rider: Mikaela Soratie</br>
				<br>Location: Finland</br>
				<br>Sire: Feramo K</br>
				<br>Dam: Abigirl</br>
				<br>Sire of dam: Limebrand</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> Faustino with Keela
			</footer>
		</div>
		
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>