<section class='horse-detail'>
	<header>
		<h1>Fyrst Henrik</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('henrik1.jpg') %>
				<figcaption>Fyrst Henrik</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('henrik2.jpg') %>
				<%= image_tag('henrik3.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Fyrst Henrik</br></u>
				<br></br>
				<br>Year of birth: 2006</br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Great Britain</br>
				<br>Breed: </br>
				<br>Breeder: Katja Kuistila</br>
				<br>Rider: Sarah Millis</br>
				<br>Location: UK (Millstones)</br>
				<br>Sire: Fyrst Heinrich</br>
				<br>Dam: Maggie</br>
				<br>Sire of dam: Master</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> Fyrst Henrik with Sarah Millis
			</footer>
		</div>
		<iframe width="560" height="315" src="//www.youtube.com/embed/Y7iLMU_B1ms" frameborder="0" allowfullscreen></iframe>
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>