<section class='horse-detail'>
	<header>
		<h1>Hofjuwel</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('hofjuwel.jpg') %>
				<figcaption>Hofjuwel</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('hofjuwel2.jpg') %>
				<%= image_tag('hofjuwel3.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Hofjuwel</br></u>
				<br></br>
				<br>Year of birth: 2005</br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Germany</br>
				<br>Breed: Hannover</br>
				<br>Breeder: </br>
				<br>Rider: Kyra Kyrklund</br>
				<br>Location: UK (Snowhill Farm)</br>
				<br>Sire: Hofrat</br>
				<br>Dam: Desdemona</br>
				<br>Sire of dam: Davignon</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> Hofjuwel With Sarah
			</footer>
		</div>
		
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>