<section class='horse-detail'>
	<header>
		<h1>Hot Casanova</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('hottis.png') %>
				<figcaption>Hot Casanova</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('IMG_1903.jpg') %>
				<%= image_tag('IMG_1903.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Hot Casanova</br></u>
				<br></br>
				<br>Year of birth: 2009</br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Finland</br>
				<br>Breed: FWB</br>
				<br>Colour: </br>
				<br>Sire: Blue Hors Hotline</br>
				<br>Dam: Kassandra XVIII</br>
				<br>Sire of dam: Kostolany</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> Hottis text comes here.............
			<a href="http://akoya.fi/en/hkorut.php">www.akoya.fi</a> 
			 
			</footer>
		</div>
		<iframe width="560" height="315" src="//www.youtube.com/embed/D-OXSSXl_Po" frameborder="0" allowfullscreen></iframe>
	</section>
	<FORM><button type="button" class="btn btn-default VALUE="Back" onClick="history.go(-1);return true;">Back</button>"
	</FORM>
</section>