<section class='horse-detail'>
	<header>
		<h1>Kiahan Hotspring</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('kiahan.jpg') %>
				<figcaption>Kiahan Hotspring</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('') %>
				<%= image_tag('') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Kiahan Hotspring</br></u>
				<br></br>
				<br>Year of birth: 2008</br>
				<br>Sex: Mare</br>
				<br>Country of birth: Finland</br>
				<br>Breed: FWB</br>
				<br>Breeder: Hannele Tommila</br>
				<br>Rider: 'breeding mare'</br>
				<br>Location: Germany</br>
				<br>Sire: Blue Hors Hotline</br>
				<br>Dam: Grand Girl</br>
				<br>Sire of dam: Grand Canyon</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> plah, plah
			</footer>
		</div>
		<iframe width="560" height="315" src="//www.youtube.com/embed/X8CwZt2bbH0" frameborder="0" allowfullscreen></iframe>
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>