<section class='horse-detail'>
	<header>
		<h1>Kiahan Qantara</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('kiahanq.jpg') %>
				<figcaption>Kiahan Qantara</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('kiahan2.jpg') %>
				<%= image_tag('kiahan.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Kiahan Qantara</br></u>
				<br></br>
				<br>Year of birth: 2009 </br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Finland</br>
				<br>Breed: Hannoveraner</br>
				<br>Breeder: Hannele Tommila </br>
				<br>Rider: Jenny Anttonen</br>
				<br>Location: UK</br>
				<br>Sire: Quaterback</br>
				<br>Dam: Grand Girl</br>
				<br>Sire of dam: Grand Canyon</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> 
			</footer>
		</div>
		
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>