<section class='horse-detail'>
	<header>
		<h1>Landers Lane</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('hepo.png') %>
				<figcaption>Landers Lane</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('IMG_1903.jpg') %>
				<%= image_tag('IMG_1903.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br>all the facts about the horse comes here</br>
				<br>born;.........</br>
				<br>stallion:.........</br>
				<br>mare:........</br>
				<br>raider:.......</br>
				<br>Trainer:...........</br>
				<br>Location:.......</br>
				<br>color:.......</br>
				<br>breed:.......</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer> description about the horse comes here
			lalalal alalalal a lalaalalalalalalal al alalal aaa ila lslsl slsls lslslsl sllsl slslsls lslslslls lslslsl
			</footer>
		</div>
		<iframe width="560" height="315" src="//www.youtube.com/embed/X8CwZt2bbH0" frameborder="0" allowfullscreen></iframe>
	</section>
	<FORM><button type="button" class="btn btn-default VALUE="Back" onClick="history.go(-1);return true;">Back</button>"
	</FORM>
</section>