<section class='horse-detail'>
	<header>
		<h1>Landers Lane</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('landers.png') %>
				<figcaption>Landers Lane</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('landers1.png') %>
				<%= image_tag('landers2.png') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Landlers Lane</br></u>
				<br></br>
				<br>Year of birth: 1997 </br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Netherlands</br>
				<br>Breed: KWPN</br>
				<br>Breeder: </br>
				<br>Rider: Jenny Anttonen</br>
				<br>Location: UK</br>
				<br>Sire: Landsieger</br>
				<br>Dam: Lois-Lane</br>
				<br>Sire of dam: Damiro</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> 
			</footer>
		</div>
		<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/X8CwZt2bbH0" frameborder="0" allowfullscreen></iframe> -->
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>