<section class='horse-detail'>
	<header>
		<h1>Metty's Chervil</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('metty.jpg') %>
				<figcaption>Chevy</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('chevy2.jpg') %>
				<%= image_tag('metty.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Metty's Chervil</br></u>
				<br></br>
				<br>Year of birth: 2004</br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Finland</br>
				<br>Breed: Welsh Mountain Sec.A</br>
				<br>Breeder: </br>
				<br>Rider: Claudia </br>
				<br>Location: UK</br>
				<br>Sire: Goldencoast Boggart</br>
				<br>Dam: Wikners Celina</br>
				<br>Sire of dam: Dyfrdwy Stardust</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> 
			</footer>
		</div>
		
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>