<section class='horse-detail'>
	<header>
		<h1>Top Secret (Topi)</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('poni.png') %>
				<figcaption>Topi</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('poni3.png') %>
				<%= image_tag('poni2.png') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Top Secret</br></u>
				<br></br>
				<br>Year of birth: 1995</br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Germany</br>
				<br>Breed: Reitponytyp</br>
				<br>Breeder: </br>
				<br>Rider: Claudia </br>
				<br>Location: UK</br>
				<br>Sire: </br>
				<br>Dam: </br>
				<br>Sire of dam: </br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> 
			</footer>
		</div>
		
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>