<section class='horse-detail'>
	<header>
		<h1>Niklas</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('niklas.jpg') %>
				<figcaption>Niklas</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('niklas2.jpg') %>
				<%= image_tag('niklas3.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Niklas</br></u>
				<br></br>
				<br>Year of birth: 2001 </br>
				<br>Sex: Gelding</br>
				<br>Country of birth: Danmark</br>
				<br>Breed: DWB</br>
				<br>Breeder: </br>
				<br>Rider: Linnea Grunn</br>
				<br>Location: KK-Horses, UK</br>
				<br>Sire: Don Schufro</br>
				<br>Dam: Nikita</br>
				<br>Sire of dam: Romancier</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> Niklas is competing with Linnea
			</footer>
		</div>
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>