<section class='horse-detail'>
	<header>
		<h1>Park's Talent</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('parks_talent.png') %>
				<figcaption>Park's Talent</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('parks_talent2.png') %>
				<%= image_tag('parks_talent3.png') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Park's Talent</br></u>
				<br></br>
				<br>Year of birth: 1993</br>
				<br>Sex: Stallion</br>
				<br>Country of birth: Germany</br>
				<br>Breed: New Forest</br>
				<br>Breeder: </br>
				<br>Rider: </br>
				<br>Location: </br>
				<br>Sire: Park's Taron</br>
				<br>Dam: Park's Maja</br>
				<br>Sire of dam: Maestoso</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> 
			<a href="http://www.kstalli.fi/park-s-talent.html">www.kstalli.fi</a> 
			</footer>
			
		</div>
		 
			</footer>
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>