<section class='horse-detail'>
	<header>
		<h1>Roxy</h1>
	</header>
	<section>
		<div class='row'>
			<figure class='col-md-10 col-md-offset-1'>
				<%= image_tag('roxy.jpg') %>
				<figcaption>Roxy</figcaption>
			</figure>
		</div>
		<div class='row'>
			<aside class='col-md-3 col-md-offset-2'>
				<%= image_tag('roxy1.jpg') %>
				<%= image_tag('roxy2.jpg') %>
			</aside>
			<p class='col-md-offset-1 col-md-4'> 
			<br><u>Roxy</br></u>
				<br></br>
				<br>Year of birth: 2009 </br>
				<br>Sex: Mare</br>
				<br>Country of birth: Great Britain</br>
				<br>Breed: </br>
				<br>Breeder: Katja Kuistila</br>
				<br>Rider: Linnea Grunn</br>
				<br>Location: UK</br>
				<br>Sire: Romanov</br>
				<br>Dam: Jodie</br>
				<br>Sire of dam: Don Schufro</br>
				<br></br>
			</p>
		</div>
		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> 
			</footer>
		</div>
		<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/X8CwZt2bbH0" frameborder="0" allowfullscreen></iframe> -->
	</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>