<!-- <h1 class="brand-heading">Horses</h1> -->

<section id="horses">
	<header>
		<h1>Horses</h1>
	</header>
	<div class='row'>
	<section class='col-md-6'>
		<header>
			<h2>Dresssage Horses</h2>
		</header>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('heveonen1') %>
			<figcaption>Heveonen1</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('heveonen1') %>
			<figcaption>Heveonen1</figcaption>
		</figure>
	</section>
	<section class='col-md-6'>
		<header>
			<h2>Show jumpping Horses</h2>
		</header>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('heveonen1') %>
			<figcaption>Heveonen1</figcaption>
		</figure>
		<figure>
			<%= link_to image_tag("IMG_1903.JPG"), horse_path('heveonen1') %>
			<figcaption>Heveonen1</figcaption>
		</figure>
	</section>
	</div>
</section>