<!-- <h1 class="brand-heading">Horses</h1> -->

<div class="horses">
	<link rel="stylesheet" type="text/css" href="/assets/horses.css">	
	<h1>Horses</h1>

	<body>
		<header id="dressage">
			<h2>Dresssage Horses</h2>
		</header>
		<div id="sidebar">
			<p>Heveonen1<p/>
				<img src='../img/IMG_1903.JPG'>
			<p>Fair Play</p>
				<img src='../img/IMG_1903.JPG'>
				
			<p>hevonen2</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen3</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen4</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen5</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen6</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen7</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen8</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen9</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen10</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen11</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen12</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen13</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen14</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen15</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen16</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen17</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen18</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen19</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen20</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen21</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen22</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>hevonen23</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			</div>

		<header id="jumpping">
			<h2>Show jumpping Horses</h2>
		</header>
			<p>horse1</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>horse2</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>horse3</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>horse4</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>horse5</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
			<p>horse6</p>
				<img src='../img/IMG_1903.JPG'>
				<div>plahplah..............</div>
	</body>




