<section id="news">
	<header>
		<h1>News</h1>
	</header>
	<section class='col-md-10 col-md-offset-1'>
		<aside class='col-md-10 col-md-offset-1'>
			<time datetime="2014-3-13">21 March 2014</time>
			<br> GLOBAL DRESSAGE FORUM:</br>
				 <br>A big thank you to the partners and sponsors for their loyal support:
				 </br>
				 <br>
				 

<ul>
International Dressage Trainer Club - IDTC 
Royal Dutch Equestrian Federation - KNHS 
International Dressage Riders Club (IDRC)
The International Society for Equitation Science (ISES)
Province of Noord Brabant
Mrs. L. Sonnenberg (Switzerland)
Blue Hors (Denmark)
Tschuggen Hotelgroup  (United Kingdom)
Mr and Mrs Bartels (the Netherlands) 
Mrs A.K. Linsenhoff (Germany) 
Mrs K. Kuistila (Finland)
Altez Group (Belgium)
Toosbuy Foundation (Denmark)
Mrs A. Lefler (Russia)
Altez Group (Belgium)
</ul>
</br>
	<!-- 
		</aside>
	</section>
	<section class='col-md-10 col-md-offset-1'>
		<aside class='col-md-10 col-md-offset-1'>
			<time datetime="2014-3-13">13 March 2014</time>
				<br>news will be here....
				</br>
			
		</aside> -->
		
	</section>
</section>