<section id="news">
	<header>
		<h1>News</h1>
	</header>
	<section class='col-md-10 col-md-offset-1'>

		<aside class='col-md-10 col-md-offset-1'>
			<time datetime="2014-5-5">05 May 2014</time>
			<br> "Vuoden hevostenomistajaksi nimettiin Katja Kuistila. Kuistila omistaa lukuisia hienoja kilpahevosia, joita hän on vuosien ajan antanut suomalaisille ratsastajille käyttöön. Esimerkiksi Sebastian Nummisen vanha, upea Calandro ilahdutti viime kaudella hienoilla esityksillä sekä kansainvälisillä areenoilla että Stadikalla, missä se voitti kaiken, GP-sarjan finaalin ja VW Leading Rider -kilpailun. Kuistilan hevosia on myös muilla tunnetuilla ratsastajilla, kuten Kyra Kyrklund, Mikaela "Fia" Lindh, Satu Liukkonen, Janne Bergh ja Mikaela Soratie." 
				 </br>
				 <a href="http://www.ratsastus.fi/srl/uutiset/101/0/ratsastusgaala_vuoden_2013_ratsastaja_nuori_kultamitalisti_elmo_jankari" target="_blank">link</a>
				 
		</aside>
		<aside class='col-md-10 col-md-offset-1'>
			<time datetime="2014-4-13">13 April 2014</time>
			<br> Wolfgang Schade took his first Victory with Dressman</br>
				 <br>Wolfgang and Dressman scored 68.467 % in Grand Prix de Dressage at Behrendorfer-Dressurfestival in Germany.
				 </br>
				 <a href="http://www.fnverlag.de/files/toris/271415002/271415002-1100-E.pdf" target="_blank">link</a>
				 
		</aside>
	</section>
	<!-- <section class='col-md-10 col-md-offset-1'>
		<aside class='col-md-10 col-md-offset-1'>
			<time datetime="2014-3-13">13 March 2014</time>
				<br>news will be here....
				</br>
			
		</aside> -->
		
	</section>
</section> 