<section id="news">
	<header>
		<h1>News</h1>
	</header>
	<section class='col-md-10 col-md-offset-1'>
		<aside class='col-md-10 col-md-offset-1'>
			<time datetime="2014-3-13">13 March 2014</time>
				 <br>reiskalla oli hammas kipea ja se vedettiin huitsin vittuun.
				 </br>
				 <br> kaksi hevosta pitaa taas teloittaa. voi,voi.
				 </br>
				 <br> fair tradelta lahti pallit. Munatonta touhua!
				 </br>
	
		</aside>
	</section>
	<section class='col-md-10 col-md-offset-1'>
		<aside class='col-md-10 col-md-offset-1'>
			<time datetime="2014-3-13">13 March 2014</time>
				<br>news will be here....
				</br>
			
		</aside>
		
	</section>
</section>