<section id="news">
	<header>
		<h1>News</h1>
	</header>
	<section class='col-md-10 col-md-offset-1'>
		<aside class='col-md-10 col-md-offset-1'>
			<time datetime="2014-4-03">3 April 2014</time>
			<br> </br>
				 <br>
				 </br>
				 <br>
				 Stuart Neads competing with Cocomone in Italy. Results will follow when available...


</br>
	<a href="http://www.horserivieraresort.net/" target="_blank">Horses Rivieraresort</a> <!-- 
		</aside>>link</a> 
	</section>
	<section class='col-md-10 col-md-offset-1'>
		<aside class='col-md-10 col-md-offset-1'>
			<time datetime="2014-3-13">13 March 2014</time>
				<br>news will be here....
				</br>
			
		</aside> -->
		
	</section>
</section>