<section class='team-detail'>
	<header>
		<h1>Farrier</h1>
	</header>

<section>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('dieter2.png') %>
				<figcaption>Dieter</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p> Dieter Krohnert Dieter has been a farrier for the German equestrian teams through several Olympics and World Equestrian Games. Dieter has been responsible of shooeing Katjas horses since 2007.
				<p/>
				<a href="https://www.facebook.com/dieter.krohnert.9">Dieter</a>
			</aside>

		<div class='row'>
			<footer> plah, plah
			</footer>
		</div>
</section>
	<FORM><button type="button" class="btn btn-default VALUE="Back" onClick="history.go(-1);return true;">Back</button>"
	</FORM>
</section>