<section class='team-detail'>
	<header>
		<h1>Farrier</h1>
	</header>

<section>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('claudia.png') %>
				<figcaption>Pirjo P</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-2'>
				<p> plah, plah,llll kks...........................kksksd ..........dd ......................kskdks ojadcojapojc pjdcpjapsc pj`cia pajdvjisa ........ ......... .......... .........
				<p/>
				<a href="https://www.facebook.com/dieter.krohnert.9">Dieter</a>
			</aside>
		</div>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('claudia2.png') %>
				<figcaption>Keijo K</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-2'>
				<p> plah, plah,llll kks...........................kksksd ..........dd ......................
				<p/>
			</aside>
		</div>

		<div class='row'>
			<footer> plah,plah..alalal alalalal a lalaalalalalalalal al alalal aaa ila lslsl slsls lslslsl sllsl slslsls lslslslls lslslsl
			</footer>
		</div>
</section>
	<FORM><button type="button" class="btn btn-default VALUE="Back" onClick="history.go(-1);return true;">Back</button>"
	</FORM>
</section>