<section class='team-detail'>
	<header>
		<h1>Katja Kuistila</h1>
	</header>

<section>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('katja.jpg') %>
				<figcaption>Katja</figcaption>
			</figure>

			<aside class='col-md-5 col-md-offset-1'>
				<br>
				</br>
				<p> Katja started breeding horses over 20 years ago in Finland. 2004 she moved to England and decided to have her own place. Dressage has always been closest to Katjas heart, but there are more and more show jumping horses coming every year... 
				<p/>
			</aside>
		</div>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('team.jpg') %>
				<figcaption>Katja with Mira, Linnea and Raine</figcaption>
			</figure>

			<aside class='col-md-5 col-md-offset-1'>
			<br>
			</br>
				<p> You cant run a horse stable without a good team. All Riders, Trainers, Grooms, Vets, Farriers, Physios and Friends are very much needed to keep everything running so well. Thank You.
				<p/>
			</aside>
		</div>

		<div class='row'>
			<footer class='col-md-8 col-md-offset-2'> 
			Katjas family has a long history with horses. Katjas father, Pertti used to have a riding school in Finland and he competed in many big show jumping events. Pertti's brother Reijo Kuistila took part in 1956 Olympic Games in 'Three-day event'.
			</footer>
		</div>
</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>