<section class='team-detail'>
	<header>
		<h1>Lady of the Residence</h1>
	</header>

<section>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('lady.jpg') %>
				<figcaption>Pirjo P</figcaption>
			</figure>

			<aside>
				<p> plah, plah,llll kks...........................kksksd ..........dd ......................
				<p/>
			</aside>
		</div>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('lady.jpg') %>
				<figcaption>Pirjo P</figcaption>
			</figure>

			<aside>
				<p> plah, plah,llll kks...........................kksksd ..........dd ......................
				<p/>
			</aside>
		</div>

		<div class='row'>
			<footer> plah,plah..alalal alalalal a lalaalalalalalalal al alalal aaa ila lslsl slsls lslslsl sllsl slslsls lslslslls lslslsl
			</footer>
		</div>
</section>
<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
</section>