su<section class='team-detail'>
	<header>
		<h1>Supporters</h1>
	</header>

<section>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('bono.jpg') %>
				<figcaption>Bono</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p> Not the smartest- but probably one of the cutest dog in the world. Bono is mixedbreed (Bison havanese - dachshund) who enjoys running away and catching rabbits.
				<p/>
			</aside>
		</div>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('roxy.jpg') %>
				<figcaption>Roxy</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p> German shepard who guards the farm. 
				<p/>
			</aside>
		</div>

		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('doris.jpg') %>
				<figcaption>Doris</figcaption>
			</figure>

			<aside class='col-md-4 col-md-offset-1'>
				<p> Linneas little Doris is a mixed breed (Jack Russel - dachshund) who likes running away with Bono. She has a record of being missing for 11 days (propably stucked in a rabbithole)
				<p/>
			</aside>
		</div>

		<div class='row'>
			<footer> 
			</footer>
		</div>
</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>