<section class='team-detail'>
	<header>
		<h1>Trainers</h1>
	</header>

<section>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('kyra.jpg') %>
				<figcaption>Kyra Kyrklund</figcaption>
			</figure>

			<aside class='col-md-5 col-md-offset-1'>
				<p> "Kyra has developed a system of training horses that combines the core elements of the German and Swedish systems with her own, unique, techniques. The system has been applied to many different horse and rider combinations with great success. The basics aim to develop the horse based on his own capabilities."
				<a href="http://www.kyrak.com/"target="_blank">www.kyrak.com</a>
				
				<p/>
			</aside>
		</div>
		<div class='row'>
			<figure class='col-md-4 col-md-offset-1'>
				<%= image_tag('sarah.jpg') %>
				<figcaption>Sarah Millis</figcaption>
			</figure>

			<aside class='col-md-5 col-md-offset-1'>
				<p> "Sarah has earned a reputation as a talented trainer not just in the UK but throughout Europe producing some exciting horses up to international Grand Prix both for herself and for others. Much of her time is taken up training and competitions but she is also involved in training many combinations from the enthusiastic amateur to international team members."
				<a href="http://www.millstonesuk.com/default.asp"target="_blank">www.millstonesuk.com</a>
				<p/>
			</aside>
		</div>

		<div class='row'>
			<footer> 
			</footer>
		</div>
</section>
	<FORM><button type="button" class="btn btn-default" VALUE="Back" onClick="history.go(-1);return true;">Back</button>
	</FORM>
</section>