<h1 class="brand-heading">Team and facilities</h1>

<div class="team">
<link rel="stylesheet" type="text/css" href="/assests/team.css">	
	<h1>Team</h1>
<h2>The Moat House</h2>
	<img src='../img/IMG_1929.JPG'>
<h2>Grooms</h2>
<h2>Physio</h2>
<h2>Vet</h2>
<h2>Farrier</h2>
<h2>Trainers</h2>
<h2>Raiders</h2>
<h2>Grooms</h2>
<h2>maintenance</h2>
<h2>general shit</h2>


