/*h1 {
	position: relative;
   	top: 40px;
   	left: 430px;
   	text-align: center
	font-size: 50px;

}

body {
	margin-left: 160px;
	position: relative;
	top: 80px;
 
}*/

img {border: solid 8px #CCC; 
	-moz-box-shadow: 1px 1px 1px #999; 
	-webkit-box-shadow: 0px 1px 1px #999; 
	box-shadow: 0px 1px 1px #999; }

/*img {
  -webkit-transition: all 0,2s ease;
     -moz-transition: all 0,2s ease;
       -o-transition: all 0,2s ease;
      -ms-transition: all 0,2s ease;
          transition: all 0,2s ease;
}*/

 
img {
  width: 330px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

img:hover {
  width: 380px;
  
}
