h1 {
	position: relative;
   	top: 40px;
   	left: 500px;
   	text-align: center
	font-size: 50px;

}

body {
	margin-left: 140px;
	position: relative;
	top: 80px;


}

img {border: solid 8px #CCC; 
	-moz-box-shadow: 1px 1px 1px #999; 
	-webkit-box-shadow: 0px 1px 1px #999; 
	box-shadow: 0px 1px 1px #999; }

}